body, html {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: auto;
}

.container{
    background-color: #1F2937;
    height: 80%;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding-left: 100px;
}

a, .hero-second {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-second {
    padding-left: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 100px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

ul li {
    cursor: pointer;
}

ul li:hover {
    background-color: #005f7f;
}

.logo, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.hero-content {
    flex: 1;
    text-align: left;
}

.dome-img {
    flex: 1;
}

.one {
    position: relative;
    left: 100px;
    width:80px;
    height: 25px;
}

button, .signup {
    background-color: #3882f6;
    color: #f9faf8;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f7f;
}

.signup {
    width: 550px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

h4 {
    display: flex;
}

.bottom-sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.information {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

footer {
    color: #e5e7eb;
    background-color: #1F2937;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.dome {
    width: 350px;
    height: 250px;
}

.info-container {
    display: flex;
}

.box {
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: transfor 0.2s;
}

.box:hover {
    transform: scale(1.05)
}

.box-img {
    width: 100%;
}

.box-text {
    padding: 10px;
}
